body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1{
    box-sizing: border-box;
}
a{
    padding-left: 20px;
}
 
.nav-link{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 12px;
}
.home{
    margin-left: 230px;
}


  
    .fa{

        font-size: 25px;
    }
    .btn-b1{
        border-radius: 25px;
        padding: 10px 25px 10px 25px;
        border: none;
        color: black;
        font-weight: bold;
    position: relative;
bottom:5px;
}
        
.box2{
    box-sizing: border-box;
}
.boxp1{
    margin-top: 100px;
}
.become{
    margin-left: 30px;
    margin-top: 100px;
    font-weight: bold;
}
.Trade{
    font-weight: bold;
    margin-left: 30px;
    font-size: 25px;

}
.chk{
    color: yellow;
    
}


.boxp2{
    background-color: black;
    margin-top: 100px;
    
}

.GETTING{
    margin-left: 50px;
}
.fees{
    margin-left: 50px;
}
.form{
    width: 80%;
    margin-left: 50px;
}

.btn-b2{
    width: 80%;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 50px;

}
.trading{
    font-size: 13px;
    margin-top: 15px;
    text-align: center;


}
.box3{
    box-sizing: border-box;
    margin-top: 50px;
    background-color: black;
    height: 200px;

}
.bit{
    margin-top: 50px;
    margin-left: 30px;
}
.crypto{
    color: yellow;
    font-weight: bolder;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.Ex{
    color: white;
}
.sec{
    margin-top: 50px;
    margin-left: 30px;
}
.secure{
    color: yellow;
    font-weight: bolder;
    margin-top: 20px;
    
}
.req{
    color: white;
}
    